@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark: 26 28 30;
    --color-light: 242 242 242;
    --color-brand: 52 69 101;
    --color-accent: 150 165 176;
    --color-surface: 205 213 229;
    --color-success: 36 143 80;
    --color-error: 195 34 34;
    --color-warning: 194 117 10;
    --color-muted: 115 115 115;
  }

  /* :root {
    --color-dark: #1a1c1e;
    --color-light: ##f2f2f2;
    --color-brand: #344565;
    --color-accent: #96a5b0;
    --color-surface: #cdd5e5;
    --color-success: #248f50;
    --color-error: #c32222;
    --color-warning: #c2750a;
    --color-muted: #737373;
  } */

  *,
  html {
    @apply m-0 p-0 box-border;
    scroll-behavior: smooth;
    border-radius: 0 !important;
    transition-duration: 0s;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Bricolage Grotesque", "system-ui", "sans-serif";
    font-optical-sizing: auto;
    font-style: normal;
  }

  body,
  #root {
    @apply relative w-full min-h-dvh antialiased bg-light text-dark;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1,
  h1 span {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold leading-[1.1] tracking-tight transaudio-none;
  }

  h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold leading-[1.1] tracking-tight;
  }

  h3 {
    @apply text-lg font-semibold leading-[1.1] tracking-tight;
  }

  .transaudio-container {
    @apply w-full max-w-5xl xl:max-w-6xl mx-auto px-4 2xl:px-10 border-x transaudio-dashed;
  }

  .transaudio-dashed {
    @apply border-muted/30;
    border-style: dashed;
  }

  .transaudio-btn {
    @apply focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-offset-transparent focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 focus-visible:ring-offset-transparent disabled:cursor-default disabled:pointer-events-none disabled:opacity-60 [&_svg]:pointer-events-none;
  }

  .transaudio-none {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .all-transcripts {
    @apply w-full max-w-2xl p-px text-left border-collapse border-none border-transparent bg-transparent;
  }
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: url("/fonts/Jura-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: rgb(var(--color-accent) / 0.75);
  color: rgb(var(--color-brand) / 1);
}

::-moz-selection {
  background-color: rgb(var(--color-surface) / 1);
  color: rgb(var(--color-brand) / 1);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-accent) / 0.75);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-accent) / 1);
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--color-surface) / 1);
}

button {
  cursor: pointer !important;
}

button:disabled {
  opacity: 0.75 !important;
  cursor: default !important;
}

.disabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

a {
  color: inherit;
}

span {
  color: inherit;
}
