@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ._img_ {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

*,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: 0s;
}

body {
  background-color: #384b6f;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --my-line-height: 16px;
}

::selection {
  background: #ff4040;
  color: #ffffff;
}

::-moz-selection {
  background: #ff4040;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #222e44;
}

::-webkit-scrollbar-thumb {
  background: #ffffff2f;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff6c;
}

._img_ {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

a {
  color: inherit;
}

table.transcripts {
  @apply w-full max-w-xl p-px text-left border-collapse border-none border-transparent bg-dark/60;
}

table.transcripts th {
  @apply border-none px-4 py-2;
}

table.transcripts td {
  @apply border-none p-4;
}

table.transcripts thead {
  @apply font-bold border-collapse border-b border-light/60 bg-red/60;
}

table.transcripts tbody tr {
  @apply text-sm font-semibold border-collapse border-b border-light/20;
}

table.transcripts th:first-child,
table.transcripts td:first-child {
  @apply whitespace-nowrap pr-0 py-2;
}
